# Telegram bot tokeni (@BotFather dan olinadi)
BOT_TOKEN=8974814358:AAHDHg76etYnjmP59TECJVhasoFN8jGMPo4

# MongoDB ulanish satri
MONGO_URI=mongodb://127.0.0.1:27017/vazifa_bot

# Vaqt zonasi (eslatmalar shu zonada hisoblanadi)
TZ_NAME=Asia/Tashkent
